mixin radio-button(title='',name='')
  .radio-button
    label.radio-button__wrap
      input(type="radio" class='radio-button__wrap__button' name=name)
      span.radio-button__wrap__empty
      span.radio-button__wrap__name.text #{title}
  