include ./header/header.pug
mixin headerFooter
  head
    style
      include ./headerFooter.scss
  .headerFooter
    .logo
      img(src=require("./assets/img/logo.png"), alt="logo")
    +header
    +header('Юлий','Цезарь')
  