$purple:#BC9CFF;
$green:#6FCF97;
$darkshade:#1F2041;
$darkshade-light:rgba(31, 32, 65, 0.25);
$darkshade-half:rgba(31, 32, 65, 0.5);
$darkshade-dark:rgba(31, 32, 65, 0.75);
$gradient:linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
$green-gradient:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);


.toggle{
    margin-right: 20px;
}

.toggle__wrap{
    display: flex;

}

.toggle__wrap__button{
    display: none;
}

.toggle__wrap__slider{
    margin-top: 2px;
    position: relative;
    width: 40px;
    height: 20px;
    border: 1px solid $darkshade-light;
    border-radius: 10px;
}

.toggle__wrap__slider::before{
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background-color: $darkshade-light;
    border-radius: 50%;
    top: 15%;
    left: 10%;
    transition: .4s;
}

.toggle__wrap__button:checked + .toggle__wrap__slider::before{
    position: absolute;
    background: $gradient;
    width: 14px;
    height: 14px;
    top: 15%;
    left: 55%;
}

.toggle__wrap__button:checked + .toggle__wrap__slider{
    border: 1px solid $purple;
}

.toggle__wrap__name{
    user-select: none;    
    color: $darkshade-dark;
    font-family: 'Montserrat-Regular', sans-serif;
    letter-spacing: 0.01rem;
    margin-left: 10px;
}