$purple:#BC9CFF;
$green:#6FCF97;
$darkshade:#1F2041;
$darkshade-light:rgba(31, 32, 65, 0.25);
$darkshade-half:rgba(31, 32, 65, 0.5);
$darkshade-dark:rgba(31, 32, 65, 0.75);
$gradient:linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
$green-gradient:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

.rate-button{
    display: flex;
    margin-right: 20px;
}

.rate-button__input{
    display: none;
}

.rate-button__input:hover + .rate-button__label::before{
    content: "\e905";
}

.rate-button__input:checked + .rate-button__label::before{
    content: "\e905";
}

.rate-button .rate-button__input:checked ~ .rate-button__label{
    content: "\e906";
}

.rate-button > input:checked ~ label {
    content: "\e906";   
}

li:nth-child(odd) {
    content: "\e905";
}