mixin rate-button(count=5, group ='group')
  .rate-button
    - for(let i=count; i > 0 ;i--)
      input._icon-favorite-border.rate-button__star._icon-star(type="radio", group, name=group, data-index=i)