include ./dropdown-quest/dropdown-quest.pug
include ./calendar/calendar.pug
include ./input/input.pug
include ./checkbox/checkbox.pug
include ./radio-button/radio-button.pug
include ./toggle/toggle.pug
include ./like-button/like-button.pug
include ./rate-button/rate-button.pug

mixin form-element
  .form-element
    .logo
      img(src=require("./assets/img/logo.png"), alt="Toxin")
    .form-element__first-part
      .form-element__first-part__input
        .form-element__first-part__input__text
          .form-element__first-part__input__text__title.subsubtitle Text Field 
          .form-element__first-part__input__text__semitransparent.text Default
        +form-input("text", 'Email')
        .form-element__first-part__input__hover
          .form-element__first-part__input__hover__title.subsubtitle Text Field 
          .form-element__first-part__input__hover__semitransparent.text Hover/Focus
        +form-input("text", 'Email')
        .form-element__first-part__input__defailt
          .form-element__first-part__input__defailt__text.subsubtitle Dropdown
          .form-element__first-part__input__defailt__dropdown
            +dropdown-quest
        .form-element__first-part__calendar
          +calendar('Date dropdown','Date dropdown')
        .form-element__first-part__input__subscription
          .form-element__first-part__input__subscription__text.subsubtitle masked text field
        .form-element__first-part__input__subscription__email
          input.form-element__first-part__input__subscription__email__input.text(type='email', placeholder='Email')
          ._icon-arrow(href="http://") 
      .form-element__first-part__checkboxbuttons
        .form-element__first-part__checkboxbuttons__title.subsubtitle Checkbox buttons
        .form-element__first-part__checboxbuttons__checkbox
          +checkbox('Можно курить')
          +checkbox('Можно с питомцами')
          +checkbox('Можно пригласить гостей (до 10 человек)')
        .form-element__first-part__checkboxbuttons__radio-buttons
          .form-element__first-part__checkboxbuttons__radio-buttons__title.subsubtitle Radio Buttons
          .form-element__first-part__checkboxbuttons__radio-buttons__radio-button
            +radio-button('Мужчина', 'button')
            +radio-button('Женщина', 'button')
        .form-element__first-part__toggle
          .form-element__first-part__toggle__title.subsubtitle Toggle
          .form-element__first-part__toggle__toggle
            +toggle('Получать спецпредложения')
            +toggle('Получать спецпредложения')
        .form-element__first-part__like
          .form-element__first-part__like__title.subsubtitle Like Button
          .form-element__first-part__like__button
            +like-button(2)
            +like-button(11)
        .form-element__first-part__stars
          .form-element__first-part__stars__title.subsubtitle rate button
          .form-element__first-part__stars__rate
            +rate-button
            +rate-button
    .form-element__second-part
      .form-element__second-part__dropdown
      .form-element__second-part__checkboxlist
    .form-element__end
      .form-element__end__advantage
      .form-elemnt__end__comment