

.form-element__first-part__input__text{
    display: flex;
}

.form-element__first-part__input__text__semitransparent{
    text-transform: uppercase;
    font-size: 12px;
}

.form-element__first-part__input__hover{
    display: flex;
}