include ./input/input.pug
include ./dropdown-quest/dropdown-quest.pug
mixin form-element
  style
    include ./form-element.scss
  .form-element
    .logo
      img(src=require("./assets/img/logo.png"), alt="Toxin")
    .form-element__first-part
      .form-element__first-part__input
        .form-element__first-part__input__text
          .form-element__first-part__input__text__title.subsubtitle Text Field 
          .form-element__first-part__input__text__semitransparent.text.semitransparent Default
        +input('email')
        .form-element__first-part__input__hover
          .form-element__first-part__input__text__title.subsubtitle Text Field 
          .form-element__first-part__input__text__semitransparent.text.semitransparent Hover/Focus
        +input('text')
      .form-element__first-part__input__defailt
        .form-element__first-part__input__defailt__dropdown.subsubtitle Dropdown
        +dropdown-quest
      .form-element__first-part__input__subscription
        .form-element__first-part__input__subscription__text.subsubtitle masked text field
        +input('date')
    .form-element__first-part__checboxbuttons
    .form-element__first-part__buttons
    .form-element__second-part
      .form-element__second-part__dropdown
      .form-element__second-part__checkboxlist
    .form-element__end
      .form-element__end__advantage
      .form-elemnt__end__comment