@import './color/color.scss';

.logo{
    padding-top: 23px;
    padding-left: 65px;
}

.color-type{
    display: flex;
    font-family: 'Montserrat-Bold', sans-serif;
    margin-top:62px;
    margin-left: 183px;
}

.color-type__text{
    margin-left: 416px;
}

.color-type__text__h1{
    display: flex;
    margin-bottom: 50px;
    padding-bottom: 1px;
}

.color-type__text__h1__semitransparent{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color:#1F2041;
    opacity:25%;
    margin-left: 10px;
    margin-right: 25px;
    margin-top: 3px;
}

.color-type__text__h2{
    display: flex;
    margin-bottom: 52px;
    font-size: 19px;
}

.color-type__text__h2__semitransparent{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color:#1F2041;
    opacity:25%;
    margin-right: 31px;
    margin-left: 10px;
}

.color-type__text__h3{
    display: flex;
    margin-bottom: 48px;
    padding-left: 10px;
}

.color-type__text__h3__semitransparent{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color:#1F2041;
    opacity:25%;
    margin-right: 28px;
    margin-left: 10px;
}

.color-type__text__body{
    display: flex;
}

.color-type__text__body__semitransparent{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color:#1F2041;
    opacity:25%;
    margin-right: 32px;
    margin-left: 2px;
    margin-top: 5px;
}

