@import './color/color.scss';

.logo{
    padding: 22px;    
}

.color-type{
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat-Bold', sans-serif;
    margin-top:41px;
    margin-left: 141px;
    margin-right: 230px;
}



.color-type__text__h1{
    display: flex;
    font-size: 24px;
    margin-bottom: 50px;
    padding-bottom: 1px;
}

.color-type__text__h2{
    display: flex;
    font-size: 19px;
    margin-bottom: 52px;
}

.color-type__text__h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    display: flex;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .02rem;
    margin-bottom: 48px;
    padding-left: 13px;
}

.color-type__text__body{
    display: flex;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#1F2041;
    opacity:75%;
    letter-spacing: 0.04rem;
    margin-right: 40px;
}



.color-type__semitransparent{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    color:#1F2041;
    opacity:25%;
    margin-right: 30px;
}
