include ./color/color.pug

mixin colorType
  head
    style
      include colorType.scss
  .color-type
    .color-type__logo
      img(src=require("./assets/img/logo.png"), alt="logo")
    .color-type__colors
      +color('100%')
      +color('75%')
      +color('50%')
      +color('25%')
      +color('5%')
      +color('Purple', '#BC9CFF')
      +color('Green', '#6FCF97')
    .color-type__text
      h1 все
