mixin header(name='', lastName='')
  head
    style
      include ./header.scss
  .headerFooter__header  
    .colorLogo
      img(src=require("./assets/img/colorLogo.png"), alt="logo")
    .headerFooter__header__text
      .headerFooter__header__text__burger
        a.headerFooter__header__text__burger__a(href="http://")  О нас
        a.headerFooter__header__text.headerFooter__header__text__burger__a(href="http//") Услуги
          a(class=' _icon-extend-more' href="http://")
        a.headerFooter__header__text__burger__a(href="http://")  Вакансии
        a.headerFooter__header__text__burger__a(href="http://")  Новости
        a.headerFooter__header__text.headerFooter__header__text__burger__a(href="http://") Соглашения
        .headerFooter__header__registration
          if name, lastName
            .headerFooter__header__registration__name #{name}#{lastName}
          else
            .headerFooter__header__registration
              button.headerFooter__header__registration__button(href="http://") войти
              button.headerFooter__header__registration__button(href="http://") зарегистрироваться

