mixin header(name='', lastName='')
  head
    style
      include ./header.scss
  .headerFooter__header  
    .colorLogo
      img(src=require("./assets/img/colorLogo.png"), alt="Toxin")
    .headerFooter__header__text
      .headerFooter__header__text__burger
        a.headerFooter__header__text__burger__a.text(href="http://")  О нас
        a.headerFooter__header__text.headerFooter__header__text__burger__a.text(href="http//") Услуги
          a(class='_icon-extend-more' href="http://")
        a.headerFooter__header__text__burger__a.text(href="http://")  Вакансии
        a.headerFooter__header__text__burger__a.text(href="http://")  Новости
        a.headerFooter__header__text.headerFooter__header__text__burger__a.text(href="http://") Соглашения
          a(class='_icon-extend-more' href="http://")
        .headerFooter__header__registration
          if name, lastName
            .headerFooter__header__registration__name.text #{name} #{lastName}
          else
            .headerFooter__header__registration
              button.headerFooter__header__registration__button.subsubtitle(href="http://") войти
              button.headerFooter__header__registration__button.subsubtitle(href="http://") зарегистрироваться

