mixin footer
  .header-footer__footer
    .header-footer__footer__logo
      .colorLogo
        img(src=require("./assets/img/colorLogo.png"), alt="Toxin")
        p.text.header-footer__footer__logo__text
          |Бронирование номеров в лучшем
          br
          |отеле 2019 года по версии
          br
          |ассоциации «Отельные взгляды»
    .header-footer__footer__nav
      p.subsubtitle Навигация
      a.text.header-footer__footer__nav__link(href='http://') О нас
      a.text.header-footer__footer__nav__link(href='http://') Новости
      a.text.header-footer__footer__nav__link(href='http://') Служба поддержки
      a.text.header-footer__footer__nav__link(href='http://') Услуги
    .header-footer__footer__nav
      p.subsubtitle О нас
      a.text.header-footer__footer__nav__link(href='http://') О сервисе
      a.text.header-footer__footer__nav__link(href='http://') Наша команда
      a.text.header-footer__footer__nav__link(href='http://') Вакансии
      a.text.header-footer__footer__nav__link(href='http://') Инвесторы
    .header-footer__footer__nav
      p.subsubtitle Служба поддержки
      a.text.header-footer__footer__nav__link(href='http://') Соглашения
      a.text.header-footer__footer__nav__link(href='http://') Сообщества
      a.text.header-footer__footer__nav__link(href='http://') Связь с нами
    .header-footer__footer__subscription
      p.subsubtitle Подписка
      p.text.header-footer__footer__subscription__text
        |Получайте специальные
        br
        |предложения и новости сервиса
      .input.header-footer__footer__subscription__email
        input.header-footer__footer__subscription__email__input(type='email', placeholder='Email')
        ._icon-arrow(href="http://") 
  .header-footer__footer__copyright
    .header-footer__footer__copyright__text.text Copyright © 2018 Toxin отель. Все права защищены.
    .header-footer__footer__copyright__cite
      a.header-footer__footer__copyright__cite__twitter._icon-twitter
      a.header-footer__footer__copyright__cite__facebook._icon-facebook
      a.header-footer__footer__copyright__cite__instagram._icon-instagram
