mixin footer
  head
    style
      include ./footer.scss
  .headerFooter__footer
    .headerFooter__footer__logo
      .colorLogo
        img(src=require("./assets/img/colorLogo.png"), alt="logo")
        p.text.headerFooter__footer__logo__text
          |Бронирование номеров в лучшем
          br
          |отеле 2019 года по версии
          br
          |ассоциации «Отельные взгляды»
    .headerFooter__footer__nav
      p.subsubtitle Навигация
      a.text(href='http://') О нас
      a.text(href='http://') Новости
      a.text(href='http://') Служба поддержки
      a.text(href='http://') Услуги
    .headerFooter__footer__nav
      p.subsubtitle О нас
      a.text(href='http://') О сервисе
      a.text(href='http://') Наша команда
      a.text(href='http://') Вакансии
      a.text(href='http://') Инвесторы
    .headerFooter__footer__nav
      p.subsubtitle Служба поддержки
      a.text(href='http://') Соглашения
      a.text(href='http://') Сообщества
      a.text(href='http://') Связь с нами
    .headerFooter__footer__subscription
      p.subsubtitle Подписка
      p.text.headerFooter__footer__subscription__text
        |Получайте специальные
        br
        |предложения и новости сервиса
      .input.headerFooter__footer__subscription__email
        input.headerFooter__footer__subscription__email__input(type='email', placeholder='Email')
        ._icon-arrow(href="http://") 
  .headerFooter__copyright
    .headerFooter__copyright__text.text Copyright © 2018 Toxin отель. Все права защищены.
    .headerFooter__copyright__cite
      ._icon-twitter
      ._icon-facebook
      ._icon-instagram
