
mixin color(opacity='', title='Dark Shade', hex='#1F2041')
  .color-type__color
    .color-type__color__square(style={opacity:opacity, background:hex})
    .color-type__color__text
      .color-type__color__text__title #{title} #{opacity}
      .color-type__color__text__subtitle #{hex}
