$darkshade:#1F2041;
$purple:#BC9CFF;
$green:#6FCF97;

.color-type__color__square{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-right: 20px;
    background-color: $darkshade;
}

.color-type__color__square-purple{
    background-color: $purple;
}

.color-type__color__square-green{
    background-color: $green;
}

.color-type__color__text{
    padding-left: 20px;
    color: $darkshade;
}

.color-type__color__text__title{
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;

}

.color-type__color__text__subtitle{
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}
