*{
    color: #1F2041;
}


.container__square{
    width: 70px;
    height: 70px;
    background-color: #1F2041;
    opacity: 100%;
    border-radius: 6px;
    margin-right: 20px;
}

.container__text{
    padding-left: 20px;
}

.container__text__title{
    font-family: 'Montserrat-Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;

}

.container__text__subtitle{
    font-family: 'Montserrat-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}