mixin checkbox(name='')
  .checkbox
    label.checkbox__label
      input.checkbox__label__button(type="checkbox" )
      span.checkbox__label__empty._icon-check-mark
      span.checkbox__label__name.text #{name}
        