
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('./assets/fonts/Montserrat-Bold.woff2');
    font-weight: 700;
};
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat-Regular.woff2');
    font-weight: 400;
};

$purple:#BC9CFF;
$green:#6FCF97;
$darkshade:#1F2041;
$darkshade-light:rgba(31, 32, 65, 0.25);
$darkshade-half:rgba(31, 32, 65, 0.5);
$darkshade-dark:rgba(31, 32, 65, 0.75);
$gradient:linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
$green-gradient:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);


.title{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 24px;
}

.subtitle{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 19px;
}

.subsubtitle{
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
}

.text{
  font-size: 14px;
  font-family: 'Montserrat-Regular', sans-serif;
  line-height: 24px;
  opacity:75%;
  letter-spacing: 0.05rem;
}

.semitransparent{
  opacity:25%;
}

@font-face {
  font-family: 'icon-font';
  src: url('./assets/fonts/icon-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}
._icon-extend-more:before{
  content: "\e901";
}
._icon-check-mark:before {
  content: "\e902";
}
._icon-favorite:before {
  content: "\e903";
}
._icon-favorite-border:before {
  content: "\e904";
}
._icon-star:before {
  content: "\e905";
}
._icon-star-border:before {
  content: "\e906";
}
._icon-insert-emoticon:before {
  content: "\e907";
}
._icon-location-city:before {
  content: "\e908";
}
._icon-twitter:before {
  cursor: pointer;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: $gradient;
  content: "\e909";
}
._icon-facebook:before {
  cursor: pointer;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: $gradient;
  content: "\e90a";
}
._icon-instagram:before {
  cursor: pointer;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: $gradient;
  content: "\e90b";
}
._icon-star-border,._icon-star{
  cursor: pointer;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: $gradient;
}