mixin copyright
  style
    include ./copyright.scss
  .header-footer__copyright
    .colorlogo
      img(src=require("./assets/img/colorLogo.png"), alt="Toxin")
    .header-footer__copyright__text.text Copyright © 2018 Toxin отель. Все права защищены.
    .header-footer__copyright__text__cite
      a.header-footer__copyright__text__cite__twitter._icon-twitter
      a.header-footer__copyright__text__cite__facebook._icon-facebook
      a.header-footer__copyright__text__cite__instagram._icon-instagram