mixin copyright
  style
    include ./copyright.scss
  .headerFooter__copyright
    .colorlogo
      img(src=require("./assets/img/colorLogo.png"), alt="Toxin")
    .headerFooter__copyright__text.text Copyright © 2018 Toxin отель. Все права защищены.
    .headerFooter__copyright__text__cite
      a.headerFooter__copyright__text__cite__twitter._icon-twitter
      a.headerFooter__copyright__text__cite__facebook._icon-facebook
      a.headerFooter__copyright__text__cite__instagram._icon-instagram