$darkshade:#1F2041;
$purple:#BC9CFF;
$green:#6FCF97;
$gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);


.headerFooter__copyright{
    background-color: #ffffff;
    margin-left: 335px;
    margin-right: 335px;
    margin-top: 50px;
    padding-bottom: 117px;
    padding-top: 115px;
    text-align: center;
}

.headerFooter__copyright__text{
    font-size: 12px;
    letter-spacing: 0.09em;
    margin-top: 12px;
}

.headerFooter__copyright__text__cite{
    padding-top: 23px;
    font-size: 24px;
}