$purple:#BC9CFF;
$green:#6FCF97;
$darkshade:#1F2041;
$darkshade-light:rgba(31, 32, 65, 0.25);
$darkshade-half:rgba(31, 32, 65, 0.5);
$darkshade-dark:rgba(31, 32, 65, 0.75);
$gradient:linear-gradient(180deg, rgba(188,156,255,1) 0%, rgba(139,164,249,1) 100%);
$green-gradient:linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

.like-button{
    margin-right: 20px;
    user-select: none;    
}
.like-button__wrap{
    cursor: pointer;    
    display: flex;
}
.like-button__wrap-button{
    display: none;
}

.like-button__wrap-like{
    content: "\e904";
    width: 40px;
    height: 20px;
    border: 1px solid $darkshade-light;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: $darkshade-half;
    
}

.like-button__wrap-like::before{
    content: "\e904";
    cursor: pointer;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: $gradient;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 12px;
}

.like-button__wrap-like__checked{
    width: 40px;
    height: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: $purple;
    border: 1px solid $purple;
}

.like-button__wrap-like__checked::before{
    content: "\e903";
    cursor: pointer;
	color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
    background-image: $gradient;
    padding-top: 4px;
    padding-left: 4px;
    font-size: 12px;
}

.like-button__wrap-like-text{
    padding-right: 5px;
    line-height: 19px;
    font-size: 12px;
}