mixin like-button(likeCounter=0)
  .like-button
    label.like-button__wrap(for='.like-button__wrap__button')
      input(type="checkbox", class='like-button__wrap__button')
      span.like-button__wrap__like._icon-favorite-border._icon-favorite
        span.like-button__wrap__like__text.text #{likeCounter}